:root {
    --primaryColor: #2294D2;
    --tex-color: #0D0E22;
    --backgroundColorLight: #fff;
    --backgroundColorDark: #F5F5F5;
    --fontFamily1: "Roboto", sans-serif;
    --fontFamily2: 'Merriweather', serif;
}